<template>
    <div class="item">
        <img :src="product.img" alt="product.item">
        <router-link class="link" :to="/shop/ + product.id">{{ product.title }}</router-link>
    </div>
</template>

<script>
export default {
    props: {
        product: {
            type: Object,
            required: true
        }
    }
}
</script>


<style scoped>
    .item {
        width: 48%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 22px;
    }

    .link {

    }
</style>