<template>
  <div>
    <header class="navbar">
      <ul class="navbar-list">
        <li v-for="link in links" :key="link.title"  class="navbar-list__item">
          <router-link :title="link.title" :to="link.url">{{ link.title }}</router-link>
        </li>
      </ul>
    </header>
    <router-view></router-view>
  </div>


</template>

<script>

export default {
  data() {
    return {
      links: [
        {
          title: 'Home', url: '/'
        },
        {
          title: 'Shop', url: '/shop'
        },
      ]
    }
  }
}
</script>

<style lang="scss">
  body {
    padding: 0;
    margin: 0;
    background-color: #e1e1e1;
    font-family: Montserrat;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .navbar {
    background-color: #fff;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }

  .navbar-list {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    &__item {
      margin-right: 10px;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      color: #0072bb;
    }

    a.router-link-exact-active {
      color: darken(#0072bb, 20%);
    }
  }
</style>
